.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20vh;
}

body .cont1 {
  width: 80%;
  max-width: 450px;
  height: 30vh;
  background-color: #1d2c67;
  margin: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  border-top-right-radius: 70px;
}

body .cont1 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5em;
}

body .cont1 .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 1em;
}

body .cont1 .other img {
  width: 3em;
  height: auto;
  background-color: #0c122c;
  padding: 0.75em;
  border-radius: 10px;
  margin: 0.6em;
}

body .cont2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80%;
  background-color: #1d2c67;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  padding-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .cont2 h2 {
  font-size: 1em;
}

body .cont2 h2 strong {
  font-weight: 700;
}

body .cont2 .slider {
  height: 1em;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
  margin: 0.5em 0.5em;
  padding: 0px 3em;
}

body .cont2 .limits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-weight: 700;
}

body .cont2 .cont3 {
  position: absolute;
  bottom: -50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cont2 .cont3 h2 {
  color: black;
  font-size: 1.5em;
  margin-right: 0.5em;
  font-weight: 700;
}

body .cont2 .cont3 h3 {
  font-size: 0.75em;
  color: gray;
}

.attribution {
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 650px) {
  body {
    background-image: url("../images/bg-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .cont1 {
    min-width: 300px;
  }
  body .cont2 {
    min-width: 250px;
    padding-bottom: 2em;
    max-width: 600px;
  }
  body .cont2 .cont3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: -55px;
    right: 5px;
    border-bottom-right-radius: 0px;
  }
}

@media screen and (max-width: 1440px) {
  body {
    max-width: 1440px;
  }
}

@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
  }
}
/*# sourceMappingURL=style.css.map */